# Ignorar carpetas de módulos de Node.js
node_modules/

# Ignorar archivos de entorno (contienen claves sensibles)
.env

# Ignorar archivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de sistema operativo
.DS_Store
Thumbs.db

# Ignorar posibles archivos de IDE (si usas uno como VS Code, IntelliJ)
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Ignorar archivos de cache
.cache/
.nyc_output/
coverage/dows