/* assets/css/global.css */
body {
   background-image: url('../img/puerto-fondo.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   margin: 0;
   padding: 0;
   height: 100vh;
   overflow-x: hidden;
   font-family: 'Arial', sans-serif;
   color: white; /* Color de texto predeterminado para el cuerpo */
   /* Asegúrate de que esta línea esté, ayuda a que el body tenga una base oscura si no se carga la imagen */
   background-color: #1a202c; /* Un color muy oscuro como respaldo */
}

body::before {
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); /* Capa oscura semitransparente sobre el fondo */
   z-index: -1;
}